
<% provide(:title, 'Βοήθεια') %>
  <body>
    <h1>Βοήθεια</h1>
    <p class="center">
      Το <%= CONFIG[:app_name] %> είναι ενας κατάλογος καταστημάτων.<br>
      Απλα επέλεξε μία απο τις τρείς βασικές κατηγορίες και δες τι υπάρχει στην <%= CONFIG[:town_name] %>!<br>
      <br><br><br>

      Εάν έχετε προβλήμα με την σελίδα απευθηνθείτε στην <a href="/feedback_messages/new">φόρμα Προβλημάτων</a>
      
      
    </p>