<div class="center hero-unit">
  <h1>Καλωσορίσατε στο <%= CONFIG[:app_name] %></h1>

  <h2>
    Εδω μπορείτε να βρείτε μαγαζιά και επιχειρήσεις κοντα σας που θα λατρέψετε, απλά επιλέξτε μια απο τις τρείς βασικες κατηγορίες και αρχίστε το ψάξιμο.
  </h2>

  
</div>

