<% provide(:title, 'Πληροφορίες') %>
    <h1>Πληροφορίες</h1>
    <p class="center">
      Εαν θα θέλατε να εμφανιστεί η επιχείρηση σας στο LamiaToDo μπορείτε να συμπληρώσετε την <a href="/static_p[ages/contact">φόρμα Καταχωρίσεων</a>
      <br>...<br>
      Το LamiaToDo είναι ενα <a href="http://en.wikipedia.org/wiki/Web_2.0">Web2 application</a> κατασκευασμένο να αποθηκεύει και να εμφανίζει μαγαζιά και επιχειρήσεις. Το Project είναι ανοιχτό υπο την Άδεια Creative Commons αυτό σημένει οτι ο κώδικας είναι ανοιχτός (Open Sourced)
      και μπορεί να χρησιμοποιηθεί απο τον οποίοδιποτε αρκεί να να μείνει υπο την ιδια άδεια.
      <br>...<br>
      <a href=http://creativecommons.org/licenses/by-sa/3.0/gr/legalcode>Πλήρης Άδεια</a>
      <br>...<br>
        
    </p>