<% provide(:title, 'Όροι Χρήσης') %>
<div class="text-center">
<h1>Όροι Χρήσης</h1>

<p>
  Το LamiaToDo είναι ενας online κατάλογος με στόχο την εξυπηρέτηση των κατοίκων της Λαμίας μέσα απο πληροφόριες καταστήματατων. Προσπάθουμε οι πληροφορίες που καταγράφονται να ειναι ορθές και αξιόπιστες, παρόλα αυτα.
<br><br>
</p>
<p>
  To LamiaToDo:
  <br><br>
  Δεν φέρει ευθύνη για το υλικό,τα comments, τις φωτογραφίες και γενικότερα σε ότι εχει να κάνει με τα καταστήματα.
  <br><br>
  Δεν φέρει ευθύνη για τυχόν λάθη ή αλλαγές στις πληροφορίες των καταστημάτων.
  <br><br>
  Οι καταχωρήσεις γινοταί δωρεαν για πληροφορίες απευθυνθείτε στην σελίδα Καταχωρήσεις.
  <br><br>
  Εαν θέλεται να αφερεθουν πληροφορίες για το κατάστημα σας απευθυνθείτε στην φόρμα προβλιμάτων
</p>
</div>