<div class="super-deal panel">
  <h5>Διαφημιση</h5>
  <ul class="pricing-table">
    <li class="title"><%= ad.title %></li>
    <li class="description"> <%= ad.description %></li>
    <li class="bullet-item"><%= image_tag "#{ad.image.url}", class: "super-deal-image"%></li>
  </ul>
</div>