<div class="panel-default panel">
  <div class="panel-heading"><h5>DEAL</h5></div>
  <ul class="pricing-table">
    <li class="title"><%= deal.title %></li>
    <li class="description"><%= deal.description %></li>
    <li class="bullet-item"><%= image_tag "#{deal.image.url}", class: "super-deal-image"%></li>
    <li class="cta-button"><%= link_to "See full page", "/deals/#{deal.id}" , class: "button" %></li>
  </ul>
</div>