<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading"><%= render "stores/store_head", store: store %></div>
    <div class="panel-body"><%= render "stores/store_main", store: store %></div>
  </div> 
</div>



