<%= provide(:title, @other_category.title) %>
  <div class="row">
    <div class="span5">
      <ul class="center categories-green "><%= render @other_categories %></ul>
    </div>
    <div class="span7 shops-container shops-container-green">
      <table><td><%= render @other_shops %></td></table>
    </div>
  </div> 
