
<footer class="site-footer">  
    <ul class="footer-info">
      <li><%= link_to "about",about_path %></li>
      <li><%= link_to "info", info_path %></li>
      <li><%= link_to "legal",legal_path %></li>
      <li><%= link_to "help", help_path %></li>
    </ul>

</footer>