<%= form_for(current_user.likes.build(likeable_id: likeable.id,likeable_type: likeable.class.to_s),
             remote: true) do |f| %>
  <div><%= f.hidden_field :likeable_id %></div>
  <div><%= f.hidden_field :likeable_type %></div>
  <%= f.submit "Like", class: "" %>
<% end %>