<%= stylesheet_link_tag :shared, :media => "all" %>

<div class="wrapper">
    <span id="mnav"></span>

	
	<nav id="mobile_nav">
	
		<ul>
		
			<li> <i class="icon-search animated pulse"> </i></li>
		
			<li><a href="">login</a></li>
		
			<li><a href="">coupons</a></li>
		
			<li><a href="">near me</a></li>
		
			<li><a href="">contact</a></li>
		
			<li class="top"><a class="scroll" data-speed="1000" data-easing="easeInOutCubic" data-url="false" href="#home"><i class="icon-direction"></i>Top</a></li>
		
		</ul>
	
	</nav><!--end primary_nav-->
	
</div><!--end of wrapper -->


