<%= stylesheet_link_tag :shared, :media => "all" %>

<nav class="sitenav animated fadeInDown">
  <span id="home"></span>
  <div class="valign">
	<ul>
       <li><%= link_to " home", root_path, :class => "home navicons" %></li>
	   <li><%= link_to " login", new_user_session_path, :class => "login navicons" unless current_user %></li>
	   <li><%= link_to " logout", destroy_user_session_path, :class => "logout navicons", method: "DELETE" if current_user %> </li>
	</ul>
  </div>
</nav>
