<%= provide(:title, @title) %>

<div class='row '>
    <div class='text-center'><%= paginate @stores %></div>
</div>
<div class='row'>
    <%# render @stores %>
    <%= render partial: "stores/store", collection: @stores %>  
</div>



