<%= stylesheet_link_tag :gmaps, :media => "all" %>

<div class="page-header">
  <%= link_to gmaps_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <%= link_to @gmap, :class => 'btn btn-primary' do %>
    <i class="icon-info-sign icon-white"></i>
    Show
  <% end %>
  <h1>Editing gmap</h1>
</div>

<%= render 'form' %>
