<%= provide(:title, @fun_category.title) %>
  <div class="row">
    <div class="span5">
      <ul class="center categories-blue"><%= render @fun_categories %></ul>
    </div>
    <div class="span7 shops-container">
      <table><tr><%= will_paginate @fun_shops ,previous_label: h("«"), next_label: h("»")%></tr><td><%= render @fun_shops %></td></table>
    </div>
  </div> 
