/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require entypo
 *= require entypo-fonts
 */
@charset "UTF-8";
@import "basestyles";


html,body	{
	background: #fff;
	@include font-smoothing(on);
	
}


/*
============================
+               +
+       FOOTER           +
+               +
============================

*/

.footer-divider {
 margin-top: 10px;
 margin-bottom: 10px;
 width: 100%;
 max-height: 20px;
}

.footer-info { 
 list-style-type: none;
 
 li {
  display: inline;
 }
}

.footer-social-buttons {
 color: lighten(#222222, 20%);
 text-align: center;
}

.footer-social-buttons i {
 margin-right: 10px;
}

.facebook-color {
 color: $facebook-color;
}

.twitter-color {
 color: $twitter-color;
}

.youtube-color {
 color: $youtube-color;
}

.skype-color {
 color: $skype-color;
}

