/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

@import "foundation-icons";
@import "foundation_and_overrides";
@import "animate";

/* 

============================
+				           +
+		   FONTS 	       +
+				           +
============================
 
*/

@import url(http://fonts.googleapis.com/css?family=Andika);
@import url(http://fonts.googleapis.com/css?family=Lilita+One);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Scada:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);


/* 

============================
+				           +
+	  COLOUR VARIABLES     +
+				           +
============================
 
*/

$anchors-primary-color: #000;
$primary-color: #7dbe0a;
$secondary-color: #7faaca;
$third-color: #ffd65e;
$facebook-color: #5a739c;
$twitter-color: #1287b5;
$youtube-color: #c9332d;
$skype-color: #00aff0;


/* 

============================
+				           +
+		  GENERAL 	       +
+				           +
============================
 
*/

div.large-12.columns.nav {
	margin        : 0;
	padding-right : 0;
	padding-left  : 0;
}


body:before {
	content            : "";

	position           : fixed;
	top                : -10px;
	left               : 0;
	z-index            : 100;

	height             : 10px;
	width              : 100%;

	box-shadow         : 0px 0px 10px rgba(0,0,0,.8);

	-webkit-box-shadow : 0px 0px 10px rgba(0,0,0,.8);
	-moz-box-shadow    : 0px 0px 10px rgba(0,0,0,.8);
}


body {
	background     : asset-url('notebook.png', image) repeat;
	font-family    : 'Scada', sans-serif;
	// font-family : "Andika", sans-serif;
}

hr {
	margin-top    : 0;
	margin-bottom : 20px;
}

/* 

============================
+				           +
+		 NAVIGATION	       +
+				           +
============================
 
*/

.lamia-todo-mini-logo {
	max-width: 35px;
	max-height: 35px;
}

.breadcrumbs {
	margin-bottom : 0;
	border-bottom : 0;
}



.lamia-todo-logo {
	margin-top    : 10px;
	margin-bottom : 10px;
	margin-left   : 0;
}

.nav-bar.right {
	max-height    : 50px;
	margin-top    : 25px;
	margin-right  : 15px;
	margin-bottom : 0;
}



/* 

============================
+				           +
+	   SUB-NAV FILTER      +
+				           +
============================
 
*/


dl.sub-nav.filter {
	margin-left   : 0;

background: rgb(161,213,79);
background: -moz-linear-gradient(top, rgba(161,213,79,1) 0%, rgba(169,211,101,1) 50%, rgba(127,193,22,1) 52%, rgba(127,193,22,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(161,213,79,1)), color-stop(50%,rgba(169,211,101,1)), color-stop(52%,rgba(127,193,22,1)), color-stop(100%,rgba(127,193,22,1)));
background: -webkit-linear-gradient(top, rgba(161,213,79,1) 0%,rgba(169,211,101,1) 50%,rgba(127,193,22,1) 52%,rgba(127,193,22,1) 100%);
background: -o-linear-gradient(top, rgba(161,213,79,1) 0%,rgba(169,211,101,1) 50%,rgba(127,193,22,1) 52%,rgba(127,193,22,1) 100%);
background: -ms-linear-gradient(top, rgba(161,213,79,1) 0%,rgba(169,211,101,1) 50%,rgba(127,193,22,1) 52%,rgba(127,193,22,1) 100%);
background: linear-gradient(to bottom, rgba(161,213,79,1) 0%,rgba(169,211,101,1) 50%,rgba(127,193,22,1) 52%,rgba(127,193,22,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1d54f', endColorstr='#7fc116',GradientType=0 );

	border        : $panel-border-style $panel-border-size $panel-border-color;
	border-bottom : 0;

	
}


dl.sub-nav.filter dd {
	margin-right   : 0;
	margin-left    : 10px;
	text-transform : uppercase;
}

div.filter-wrapper {
	margin-top: 3px;
	margin-left: 3px;
}

/* 

============================
+				           +
+		 CONTAINERS        +
+				           +
============================
 
*/

.columns {
	float : right;
}

/* 

============================
+				           +
+		  SIDEBAR 	       +
+				           +
============================
 
*/

aside.panel {
	float : left;
}

aside.large-3.columns {
	padding-left : 0;
}

ul.side-nav {
	padding-top : 0;
}

div.sidebar-button {
	font-family : 'Oswald', sans-serif;	
}

div.super-deal.panel h5 {
	font-family : 'Oswald', sans-serif;
}

div.super-deal.panel {
	margin        : 10px;
	padding       : 20px;

	border        : 2px dashed lighten(#222222, 50%);
	border-radius : 10px;
}

i.fi-burst-sale.size-72 {
	position : absolute;
	top      : 150px;
	left     : 220px;
}

li.bullet-item.super-deal-image {
}

.sidebar-button {
	padding               : 5px 5px;
	@include sub-nav(#fff, 11px, #2C2C2C);
	cursor                : pointer;
	background            : -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background            : -moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background            : -webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background            : -o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background            : -ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background            : linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color      : #d0451b;
	font-family           : 'Lilita One', cursive;
	font-size             : em-calc(22);
	color                 : #ffffff;
	text-align            : center;
	text-decoration       : none;
	border                : 1px solid #942911;
	border-radius         : 3px;
	box-shadow            : inset 0px 1px 0px 0px #cf866c;

	-moz-box-shadow       : inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow    : inset 0px 1px 0px 0px #cf866c;
	filter                : progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	-moz-border-radius    : 3px;
	-webkit-border-radius : 3px;
	// text-shadow        : 0px 1px 0px #854629;
}
.sidebar-button:hover {
	background       : -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background       : -moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background       : -webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background       : -o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background       : -ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background       : linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color : #bc3315;

	filter           : progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
}
.sidebar-button:active {
	position : relative;
	top      : 2px;
}



/* 

============================
+				           +
+		LIST STYLES        +
+				           +
============================

*/

.geush-phones {
	font-size : em-calc(22);
}

ul li.geush-phones {
	margin-top : 0px;
	list-style : none;
}

/* 

============================
+				           +
+		ICON SIZES         +
+				           +
============================

*/

.size-14 {
	font-size : em-calc(14);
}

.size-16 {
	font-size : em-calc(16);
}

.size-18 {
	font-size : em-calc(18);
}

.size-20 {
	font-size : em-calc(20);
}

.size-24 {
	font-size : em-calc(24);
}

.size-28 {
	font-size : em-calc(28);
}

.size-36 {
	font-size : em-calc(36);
}

.size-38 {
	font-size : em-calc(38);
}

.size-48 {
	font-size : em-calc(48);
}

.size-56 {
	font-size : em-calc(56);
}

.size-60 {
	font-size : em-calc(60);
}

.size-72 {
	font-size : em-calc(72);
}

/* 

============================
+				           +
+		   TABLES          +
+				           +
============================


*/

table.no-border-top {
	border-top : none;
}

thead tr {
	margin-left : 5px;
}

tbody tr td li {
	text-align : center;
}

td p {
	text-align : justify;
}

/* 

============================
+				           +
+	   	  SECTIONS         +
+				           +
============================

*/

p.title {
	background : #9dd53a; /* Old browsers */
	background : -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
	background : -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
	background : -o-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
	background : -ms-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
	background : linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
	color      : #fff;
}

section a {
	color : #000;
}

/* 

============================
+               +
+       FOOTER           +
+               +
============================

*/

.footer-divider {
 margin-top: 10px;
 margin-bottom: 10px;
 width: 100%;
 max-height: 20px;
}

.footer-info { 
 list-style-type: none;
 
 li {
  display: inline;
 }
}

.footer-social-buttons {
 color: lighten(#222222, 20%);
 text-align: center;
}

.footer-social-buttons i {
 margin-right: 10px;
}

.facebook-color {
 color: $facebook-color;
}

.twitter-color {
 color: $twitter-color;
}

.youtube-color {
 color: $youtube-color;
}

.skype-color {
 color: $skype-color;
}

@import "center-menu";