@import "compass";
@import "compass/reset";
@import "animate";
@import "alerts";
@import "breakpoint";



@font-face {
  font-family: 'IdealSans';    
  src: url('IdealSans-Thin.otf') format('opentype');
  font-weight: 100;

}


@font-face {
  font-family: 'IdealSans';    
  src: url('IdealSans-XLight.otf') format('opentype');
  font-weight: 200;

}

@font-face {
  font-family: 'IdealSans';    
  src: url('IdealSans-Light.otf') format('opentype');
  font-weight: 300;

}

@font-face {
  font-family: 'IdealSans';    
  src: url('IdealSans-Book.otf') format('opentype');
  font-weight: 400;

}

@font-face {
    font-family: 'IdealSans';    
    src: url('IdealSans-Semibold.otf') format('opentype');
	font-weight: 500;

}




/* font stack */
$font-1: 'IdealSans';
$font-2: 'HaloHandletter';


	

/* viariables that need review */
$green : #18AE5C;

$solid-bg: #1c1c1c;
$solid-bg-lighten: #3E3E3E;


 $anchors-primary-color: #000;
 $primary-color: #7dbe0a;
 $secondary-color: #7faaca;
 $third-color: #ffd65e;
 $facebook-color: #5a739c;
 $twitter-color: #1287b5;
 $youtube-color: #c9332d;
 $skype-color: #00aff0;

	


$normal : #fff;
$hover : #fff;
$active : #fff;
$visited: #fff;
$focus: #fff;





a	{ @include link-colors($normal, $hover, $active, $visited, $focus); 

	text-decoration: none;
	font-family: $font-1;
}





// MIXINS

@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}


/* breakpoints  */

$phone-portrait : 320px 480px;
$tablet-portrait-landscape : 768px 1024px;

