// Place all the styles related to the food_categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "basestyles";


body,html	{
	background: #ddd;
	
}


body, .store-grid, .store	{
    margin: 0;
    padding: 0;
}





.store-points	{
	display: inline;
}

.store-grid	{
	margin-top: 4rem;
	margin-left: 10rem;

	input	{
		border: none;
		outline: none;
		padding-right: 1rem;
		cursor: pointer;
		background: none;
	}
	
	.likeable-button	{
		font-family: 'entypo';
		position: relative;
		text-align: center;
		
	
	&:before	{
		content: "\1F44D";
		position: absolute;
		z-index: -1;
	}

}


}



.image-grid {  
  width: 200px;
  height: auto;
  display: block;
  min-height: 12px;
  border-radius: 6px;

  float: left;
  clear: none;
  margin: 3rem 1rem;
  background-color: #2b2b2b;
  position: relative;    
  @include box-shadow(rgba(0,0,0,0.4) 2px 2px 6px);
  
  

  .image-img {
    width: 100%;
    height: auto;
	
	img	{
		width: 100%;
	}
  }
  
  .image-text {
	font-family: $font-1;
	text-align: justify;
    padding: 1rem;

	
	ul	{
		font-size: 1rem;
		line-height: 1.5rem;
		color:#fff;
		text-transform: lowercase;
		font-variant: small-caps;
	}
  }

  .image-height {
    overflow: hidden;
    height: 5rem;
	@include transition-property(height);
	@include transition-duration(0.4s);

  }
  
  &:hover	{
	  z-index: 2;

	  .image-content	{
	  z-index:2;
	  }
	  

  }
  
}


