.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }

.store-grid-1{ 
  height: 350px;
  margin: 10px;
}

.store-img{
  height:130px;
  width:130px;

  img{
	max-height:130px;
	max-width:130px;
  }
}



.store-grid{ 
  height: 220px;
  margin: 5px 10px;
  background-color: white;
}