// Place all the styles related to the food_categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "basestyles";


body	{
	background: #fff;
}
.sidenav	{
	display: none;
}

#columns {
	margin: 10px 1rem 1rem 2rem;
	display: inline;
}

div#columns figure {
	width: auto;
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	padding: 15px;
	margin: 0.3rem;
  display: inline-block;
  opacity: 0.4;
  
  @include transition-property(opacity);
  @include transition-duration(0.2s);
  &:hover	{
	  opacity: 1;
  }
}

div#columns figure img {
	width: 100%; height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
	color: #444;
  line-height: 1.5;
}

div#columns small { 
  font-size: 1rem;
  float: right; 
  text-transform: uppercase;
  color: #aaa;
} 

div#columns small a { 
  color: #666; 
  text-decoration: none; 
  transition: .4s color;
}



