// Place all the styles related to the shared controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "basestyles";


/*navigation*/




.sitenav	{
	position: absolute;
	font-size: 1rem;
	top: 0%;
	width: 100%;
	height: 60px;
	background-color:rgba(255, 255, 255, 0);
	z-index: 9;

	.icon-list	{

		display: none;
		font-size: 270%;
		background: rgba(0, 0, 0, 0.72);
		padding: 0rem 1rem 0rem 1rem;
		border-bottom-right-radius: 10px;

	}


	 ul	{
	 	font-family: $font-1;
		font-weight: 100;
		list-style-type: none;
		float: right;
	    padding: 1.250rem 0 1.875rem 0em;

		.navicons	{
			@include font-smoothing(on);
		}

		.home	{
			font-family: 'entypo';

			&:before	{
			content: "\2302";
		}
		}

		.login	{

			font-family: 'entypo';

			&:before	{
			content: "\E740";
		}
	}

	.logout	{

		font-family: 'entypo';

		&:before	{
		content: "\E741";
	}
}

		li	{

			display: inline;
			margin-right: 2.250rem;

		}

	}

}



// SIDE NAVIGATION




#layout {
		position: relative;
		padding-left: 0;
}
		#layout.active {
				position: relative;
				left: 150px;
		}
				#layout.active #menu {
						left: 150px;
						width: 150px;
				}

				#layout.active .menu-link {
						left: 150px;
				}




/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

.menu-link	{
	@include transition-property(background, left);
	@include transition-duration(0.5s);
}

#menu {
		margin-left: -150px; /* "#menu" width */
		width: 150px;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 1000; /* so the menu or its navicon stays above all content */
		background: rgba(26, 25, 25, 1);
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		display: table;

@include transition-property(left);
@include transition-duration(0.5s);

		.pure-menu{
			display: table-cell;
			vertical-align: middle;
			width: 100%;


		ul {
				border: none;
				background: transparent;

				li	{
				margin-top: 2rem;
				text-align: center;
				text-transform: uppercase;

			}

		}

		i	{
			font-size: 1rem;
		}

}


.pure-menu-heading {

		font-size: 1rem;
		color: #fff;

}

.pure-menu-selected a {
		color: #fff;
		opacity: 0.5;
}


}

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
		position: fixed;
		display: block; /* show this only on small screens */
		top: 0;
		left: 0; /* "#menu width" */
		background: #000;
		background: rgba(0,0,0,0.7);
		font-size: 10px; /* change this value to increase/decrease button size */
		z-index: 10;
		width: 2em;
		height: auto;
		padding: 2.1em 1.6em;


}

		.menu-link:hover,
		.menu-link:focus {
				background: #000;
		}

		.menu-link span {
				position: relative;
				display: block;
		}

		.menu-link span,
		.menu-link span:before,
		.menu-link span:after {
				background-color: #fff;
				width: 100%;
				height: 0.2em;
		}

				.menu-link span:before,
				.menu-link span:after {
						position: absolute;
						margin-top: -0.6em;
						content: " ";
				}

				.menu-link span:after {
						margin-top: 0.6em;
				}





// FOOTER

.site-footer	{
	width: 100%;
	text-align: center;
	font-family: $font-1;
	font-weight: 100;
		ul	{

		li	{
			opacity: 0.4;
			margin-right: 0.5em;

			@include transition-property(opacity);
			@include transition-duration(0.3s);

			&:hover	{
				opacity:1;

			}
		}
	}

}

// MISC

.dots	{
	position: fixed;
	right: 3%;
	bottom: 1%;
	display: block;

	i	{
		color: #fff;
		font-size: 1.2rem;
	}
	&:hover ~ .bubble	{
		visibility: visible;
	}

}


.bubble
{
visibility: hidden;
bottom: 6%;
right:1%;
position: fixed;
width: 95px;
height: 145px;
padding: 0px;
border: 1px solid #ddd;
background: rgba(255, 255, 255, 1);
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

&:after {
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 0;
border-color: rgba(255, 255, 255, 1) transparent;
display: block;
width: 0;
z-index: 1;
bottom: -10px;
left: 48px;
}

&:hover	{
	visibility: visible;
}

}
/* breakpoints  */

@include breakpoint (max-width 768px)	{
	.sidenav	{
		display: none;
	}

	.sitenav {

	ul	{
		display: none;
	}
}

	#mobile_nav	{
		display: block;
	}




}





@include breakpoint (min-width 768px)	{

    #layout {
        padding-left: 150px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }
}
