// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "basestyles";



// BACKGROUND PICTURE 
.first-banner	{
	position: absolute;
	height: 100%;
	width: 100%;
    background: url(blurcitywtext.jpg) no-repeat center center fixed; 
	@include background-size(cover);
	
}


.banner-support	{
	position: absolute;
	width: 100%;
	top: 100%;
	height: 100px;
	
}

.logo	{
	padding-top: 5em;
	
}

// 	MAINT CONTENT

.maincontent	{
	
 
	position: relative;
	margin: 40rem 0rem 0rem 6.5rem;
	font-family: $font-1;

	@include transition-property(all);
	@include transition-duration(0.2s);
	@include transition-delay(0s);
	

	h1	{
	font-size: 2rem;
	font-weight: 200;
	
	}
	
	p	{
	font-size: 1rem;
	font-weight: 200;
	margin: 2rem 2rem 0rem 0rem;
	line-height: 1.9rem;
	text-align: justify;
	text-justify: newspaper;

	}

}

.site-footer	{
	a	{ @include link-colors(#000, #000, #000, #000, #000); 

		text-decoration: none;
	}
}

@include breakpoint(max-width 768px)	{
	
	.maincontent	{
	
 
		margin: 40rem 0rem 0rem 2rem;

		}

		p	{

		margin: 3rem 2rem 0rem 0rem;

		}

	
	
}




