
<h1>This is the view for Food find me in "app/views/food_categories/show.html.erb"</h1>

<%= provide(:title, @food_category.title) %>

  <% @food_categories.each do |category| %>
    <a href="<%= category.id %>"><li><%= category.title %></li></a>
  <% end %>

<%= render @food_shops %>

