<div id="centeredmenu">
  <ul>
    <li><a href="/food_categories/1" class="action-button shadow animate red">Φαγητό</a></li>
    <li><a href="/fun_categories/1" class="action-button shadow animate blue">Διασκέδαση</a></li>
    <li><a href="/other_categories/1" class="action-button shadow animate green">Άλλα</a></li>
  </ul>
</div>