<div id="centeredmenu">
  <ul>
    <li><a href="/food_categories" class="action-button shadow animate red">Φαγητό</a></li>
    <li><a href="/fun_categories" class="action-button shadow animate blue">Διασκέδαση</a></li>
    <li><a href="/other_categories" class="action-button shadow animate green">Άλλα</a></li>
  </ul>
</div>