<ul class="side-nav">
  <li><%= link_to "Φαγητό" , food_categories_path, class: "sidebar-button"%></li>
  <li><%= link_to "Διασκέδαση" , fun_categories_path, class: "sidebar-button" %></li>
  <li><%= link_to "Άλλα" , other_categories_path, class: "sidebar-button" %></li>
</ul>